<div class="container">
  <h1>Matrix input</h1>

  <div class="well well-lg">
    <%= form_with(url: "/messages", method: "post") do %>
      <table>
        <td>
          <%= select_tag("left_matrix", options_from_collection_for_select(@left_matrices, "id", "matrix_type")) %>
        </td>
        <td>
          <div class="">
            *
          </div>
        </td>
        <td>
          <%= select_tag("right_matrix", options_from_collection_for_select(@right_matrices, "id", "matrix_type")) %>
        </td>
      </table>
      <br>
      <%= submit_tag("Calulate", class: "btn btn-info") %>
    <% end %>
    <br>

    <div id="msg">
    </div>
  </div>
</div>
